[Desktop Entry]
Encoding=UTF-8
Name=Trip
Comment=Trip P2P Cryptocurrency
Comment[fr]=Trip, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Trip, eşten eşe kriptografik sanal para birimi
Exec=trip-qt %u
Terminal=false
Type=Application
Icon=trip128
MimeType=x-scheme-handler/trip;
Categories=Office;Finance;
