src/qt/.DS_Store
src/.DS_Store
src/qt/res/css/.DS_Store
src/qt/res/.DS_Store
src/qt/res/.DS_Store
contrib/debian/manpages/trip-qt.orig.1
contrib/debian/manpages/trip.conf.orig.5
src/trip-cli.orig.cpp
contrib/debian/manpages/trip-qt.orig.1
.DS_Store
src/.DS_Store
.DS_Store
