[Unit]
Description=Trip's distributed currency daemon
After=network.target

[Service]
User=trip
Group=trip

Type=forking
PIDFile=/var/lib/tripd/tripd.pid

ExecStart=/usr/bin/tripd -daemon -pid=/var/lib/tripd/tripd.pid \
          -conf=/etc/trip/trip.conf -datadir=/var/lib/tripd

ExecStop=-/usr/bin/trip-cli -conf=/etc/trip/trip.conf \
         -datadir=/var/lib/tripd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
